<div id="education" class="chronology">
    <div class="title">Education</div>
    {% for e in site.education %}
    <div class="entry">
    	<div class="entry-left">
    		<div class="time">{{ e.from }} - {{ e.to }}</div>
    	</div>
    	<div class="entry-right">
    		<div class="title">{{ e.title }}</div>
    		<div class="institution">{{ e.institution }}</div>
            <div class="location">{{ e.location }}</div>
    		<div class="description">{{ e.content }}</div>
    	</div>
    </div>
    {% endfor %}
</div>

