<div id="employment" class="chronology">
    <div class="section-title">Employement</div>
    {% assign sorted_employement = site.employment | sort:"to" | reverse %}
    {% for e in sorted_employement %}
    <div class="entry">
    	<div class="entry-left">
    		<div class="time">
            {%  if e.from == e.to %}
                 {{ e.from }}
            {% else %}
                {{ e.from }} - {{ e.to }}
            {% endif %}
            </div>
    	</div>
    	<div class="entry-right">
    		<div class="title">{{ e.institution }}</div>
    		<div class="position">{{ e.position }}</div>
    		<div class="description">{{ e.content }}</div>
    	</div>
    </div>
    {% endfor %}
</div>
