<!--[if lte IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="header-container container">
  <header>
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h2>a collection of work</h2>
  </header>
  <nav>
    <ul class="menu">
    {% assign sorted_pages = site.pages | sort:"order" %}
        {% for thepage in sorted_pages %}
          {% unless thepage.title contains 'Impressum' %}
          <li {% if page.url == thepage.url %} class="active"{% endif %}><a href="{{ thepage.url | prepend: site.baseurl }}" >{{ thepage.title }}</a></li>
          {% endunless %}
        {% endfor %}
    </ul>
  </nav>
</div>