/* Original aaux pro fonts - commented out in favor of Neue Haas Grotesk (Adobe Fonts / Typekit)
@font-face {
    font-family: aauxprothin;
    src: url(../font/AauxProOTThin.otf);
}

@font-face {
    font-family: aauxproregular;
    src: url(../font/AauxProOTRegular.otf);
}
*/

