<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Christian Schneider CV</title>
    <link href="css/reset.css" type="text/css" rel="stylesheet" media="screen">
  <link href="css/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="css/cv-screen.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>

    <div id="main">
      <div id="content">
      {% include photo.html %}
      {% include header.html %}

      <div id="cv-listing">
      {% include education.html %}
      {% include work.html %}
      </div>
      </div>
    </div>

</body>
</html>
